footer{
    font-family: 'Raleway', sans-serif;
}
.foot{
    padding: 1%;
    display: flex;
    background-color: darkred;
}
.part1{
    width: 50%;
}
ul li a{
    text-decoration: none;
    color: #f8f8f8;
}
ul li{
    list-style-type: none;
}
ul li a:hover{
    color: crimson;
}

@media (max-width:211px) {
.foot{
    flex-direction: column;
    text-align: center;

}
ul li{
    list-style-type: circle;
}
    
}
