/*styling for css*/
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif Georgian', serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}


nav {
    background-color: #d2b48c; /* Tan */
    padding: 10px;
}

nav a {
    color: #8b4513; 
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #cd853f; 
}

.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9bf3b;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}

.item-1{
    display: flex;
    align-items: center;
    background-color: rgb(0, 149, 255);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}
.item-2 {
    display: flex;
    align-items: center;
    background-color: peru;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.item-img img {
    max-width: 80%;
    height: auto;
    margin-right: 20px; /*  margin between image and text */
}

.item-content {
    text-align: left;
}
.item-content h2{
    text-align: left;
    color: #f9f9f9;
}
.item-2 .item-content {
    text-align: right; 
}
.btn {
    display: inline-block;
    background-color: #f9bf3b;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}
.btn-container-1{
    width: 5%;
    margin: auto;
  }
  .btn-container-1 .btn{
    color: #fff;
    font-weight: 400;
    line-height: 45px;
    margin: auto;
    max-width: 0px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .item-2 .btn:hover {
    text-decoration: none;
  }
  .item-2 .btn-1 {
    font-weight: 100;
  }
  .item-2 .btn-1 svg {
    height: 45px;
    left: -62px;
    position: absolute;
    width: 200px;
  }
  .item-2 .btn-1 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
  .item-2.btn-1:hover {
    background: rgba(225, 51, 45, 0);
    font-weight: 900;
    letter-spacing: 1px;
  }
  .item-2 .btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1s ease-in-out;
  }
  /* mobile introduction row */
  @media screen and (max-width: 768px){
    .first{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

.featured-dishes {
    text-align: center;
    padding: 40px 20px;
    background-color: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.image-container {
    text-align: center;
    background-color: lightpink;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;

}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 8px;
}
.image-container img:hover{
    transform: scale(1.05);
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: skyblue;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    text-align: left;
}

.secondimg img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 8px;
}

.secondtext {
    flex-basis: 40%;
}
.rounded-button{
    display: inline-block;
    background-color: #f9bf3b;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}
.secondtext{
    width: 5%;
    margin: auto;
  }
  .secondtext .rounded-button{
    color: #fff;
    font-weight: 400;
    line-height: 20px;
    margin: auto;
    max-width: 0px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 50px;
  }
  .secondtext .rounded-button:hover {
    text-decoration: none;
  }
  .secondtext .rounded-button {
    font-weight: 100;
  }
  .secondtext .rounded-button svg {
    height: 45px;
    left: -62px;
    position: absolute;
    width: 100px;
  }
  .secondtext .rounded-button rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
  .secondtext.rounded-button:hover {
    background: rgba(225, 51, 45, 0);
    font-weight: 900;
    letter-spacing: 1px;
  }
  .secondtext .rounded-button:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1s ease-in-out;
  }
  /* mobile introduction row */
  @media screen and (max-width: 768px){
    .about{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

